<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

<meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Study On Music | Home Page</title>
</head>
<body>
<h1> Welcome to the Study on Music test by <a href = "https://sankalpsrv.in"> Sankalp Srivastava (click here to view author's profile) </a> </h1>

<h4> <a href = "{{ url_for('submit_survey') }} "> CLICK HERE TO BEGIN THE TEST </a> </h4>


<h3> What is this survey for?</h3>
The author is conducting this experiment to gauge the effects of music on concentration levels during study sessions.

<h3> What will you be asked to solve?</h3>
There will be basic arithmetic questions as well as reading comprehension questions

<h3> What are the prerequisites</h3>
Use headphones and do NOT stray away from the screen or pause the music!

<h4> <a href = "{{ url_for('submit_survey') }} "> CLICK HERE TO BEGIN THE TEST </a> </h4>

<img src="/static/images/Study-image.png" alt = "Image of person studying with headphones on" width="300" height="300">
</body>
</html>