<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <title>Math and Reading Practice</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
        }
        .container {
            margin-bottom: 20px;
        }
        .problem {
            margin-bottom: 15px;
        }
        .question {
            font-weight: bold;
        }
    #conditionalContent { display: none; } /* Initially hide the content */
    </style>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            var audio = document.getElementById('musicPlayer');
            var conditionalContent = document.getElementById('conditionalContent');
            var isAudioPlaying = false;

            function playAudio() {
                if (audio.paused) {
                    audio.play()
                        .then(() => {
                            // Once audio starts playing, show the conditional content
                            conditionalContent.style.display = 'block';
                            var isAudioPlaying = false;
                        })
                        .catch(error => {
                            console.error('Error attempting to play audio:', error);
                        });
                }
            }

            // Check if the page is being viewed
            function handleVisibilityChange() {
                if (document.hidden) {
                    audio.pause();
                } else if (isAudioPlaying) {
                    audio.play();
                }
            }

            // Event listener for page visibility change
            document.addEventListener("visibilitychange", handleVisibilityChange, false);

            // Optionally, if you want to ensure content is only visible when audio is actively playing
            audio.addEventListener('play', function() {
                conditionalContent.style.display = 'block';
                isAudioPlaying = true;
            });

            audio.addEventListener('pause', function() {
                conditionalContent.style.display = 'none';
                isAudioPlaying = false;
            });
        });
    </script>
</head>
<body>
    <h1> PRESS PLAY TO SOLVE SECOND SET OF QUESTIONS</h1>
    <audio id = "musicPlayer" controls autoplay>
        {% if music_genre == "Instrumental" %}
        <source src="/static/classical.mp3" type = "audio/mpeg">
        {% elif music_genre == 'Classical' %}
        <source src="/static/instrumental.mp3" type = "audio/mpeg">
        {% elif music_genre == 'Electronic' %}
        <source src="/static/pop.mp3" type = "audio/mpeg">
        {% elif music_genre == 'Pop' %}
        <source src="/static/electronic.mp3" type = "audio/mpeg">
        {% endif %}
    </audio>

    <div id = "conditionalContent">
    <h1>Select the correct option</h1>
    <form id="timerForm", method="POST">
    <div class="container">
        <h2>Arithmetic Problems</h2>
        <div class="problem">
            <div class="question">4. Solve: 25 / 5 + 2</div>
            <input type="radio" id="a41" name="arithmetic4" value="A"><label for="a41">7</label><br>
            <input type="radio" id="a42" name="arithmetic4" value="B"><label for="a42">5</label><br>
            <input type="radio" id="a43" name="arithmetic4" value="C"><label for="a43">9</label><br>
        </div>
        <div class="problem">
            <div class="question">5. Solve: (18 - 2 * 5) ^ 2</div>
            <input type="radio" id="a51" name="arithmetic5" value="A"><label for="a51">64</label><br>
            <input type="radio" id="a52" name="arithmetic5" value="B"><label for="a52">100</label><br>
            <input type="radio" id="a53" name="arithmetic5" value="C"><label for="a53">8</label><br>
        </div>
    </div>

    <div class="container">
        <h2>Reading Comprehension Problems</h2>
        <p>
John did not think much about wealth or sources of inequality in life. It was his firm belief that if this world was not good then the Hereafter would be good and this belief sustained him. He was not like some of the other people he knew, who would sell their souls to the devil. He always thought of God before doing anything. He lived the life of an honest man. He did not marry but did not desire another man’s wife. He believed that women make men weak as described in the story of Samson and Delilah.
   </p>
        <div class="problem">
            <div class="question">Question 1-What was John’s perspective on wealth and sources of inequality in life? </div>
            <input type="radio" id="r61" name="reading6" value="A"><label for="r61">A) He thought a lot about it and believed it was important</label><br>
            <input type="radio" id="r62" name="reading6" value="B"><label for="r62">B) He didn’t think much about it and believed in the afterlife</label><br>
            <input type="radio" id="r63" name="reading6" value="C"><label for="r63">C) He believed that wealth was the key to happiness</label><br>
        </div>
        <div class="problem">
            <div class="question">Question 2-How did John feel about people who would sell their souls to the devil?</div>
            <input type="radio" id="r71" name="reading7" value="A"><label for="r71">A) He admired them </label><br>
            <input type="radio" id="r72" name="reading7" value="B"><label for="r72">B) He was indifferent to them<</label><br>
            <input type="radio" id="r73" name="reading7" value="C"><label for="r73">C) He disapproved of them</label><br>
        </div>
        <div class="problem">
            <div class="question">Question 3-Question 4- What was John’s approach to making decisions? </div>
            <input type="radio" id="r81" name="reading8" value="A"><label for="r81">A) He always thought of God before doing anything</label><br>
            <input type="radio" id="r82" name="reading8" value="B"><label for="r82">B) He always thought of the consequences before doing anything</label><br>
            <input type="radio" id="r83" name="reading8" value="C"><label for="r83">C) He always thought of himself before doing anything</label><br>
        </div>
        <div class="problem">
            <div class="question">Question 4-Was John married?</div>
            <input type="radio" id="r91" name="reading9" value="A"><label for="r91">A) Yes</label><br>
            <input type="radio" id="r92" name="reading9" value="B"><label for="r92">B) No</label><br>
            <input type="radio" id="r93" name="reading9" value="C"><label for="r93">C) Not mentioned</label><br>
        </div>
        <div class="problem">
            <div class="question">Question 5-Why did John believe that women make men weak?</div>
            <input type="radio" id="r101" name="reading10" value="A"><label for="r101">A) He believed it was written in the story of Samson and Delilah</label><br>
            <input type="radio" id="r102" name="reading10" value="B"><label for="r102">B) He had a bad experience with a woman in the past</label><br>
            <input type="radio" id="r103" name="reading10" value="C"><label for="r103">C) He thought that women were weaker than men </label><br>
    </div>
        <input type="submit" value="Submit">
    </form>
    </div>
<script>
        var startTime = new Date().getTime();
        var timerElement = document.getElementById('timer');

        function updateTimer() {
            var currentTime = new Date().getTime();
            var elapsedTime = Math.floor((currentTime - startTime) / 1000);
            timerElement.textContent = 'Timer: ' + elapsedTime + ' seconds';
        }

        setInterval(updateTimer, 1000);

        $('#timerForm').submit(function(event) {
            event.preventDefault(); // Prevent default form submission

            var endTime = new Date().getTime();
            var elapsedTime = Math.floor((endTime - startTime) / 1000);

            // Append elapsed time as hidden input to the form
            $('<input>').attr({
                type: 'hidden',
                name: 'elapsed_time',
                value: elapsedTime
            }).appendTo('#timerForm');

            // Submit the form
            this.submit();
        });
    </script>
</body>
</html>
