<!DOCTYPE html>
<html>
<head>
    <title>Study on Music</title>
</head>
<body>
    <h2>Participant Details</h2>
    <form id="surveyForm", method="POST">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required><br><br>

        <label for="age">Age:</label>
        <input type="number" id="age" name="age" required><br><br>

        <label>Music Genre of Preference:</label><br>
        <input type="radio" id="pop" name="musicGenre" value="Pop">
        <label for="pop">Pop</label><br>
        <input type="radio" id="classical" name="musicGenre" value="Classical">
        <label for="classical">Classical</label><br>
        <input type="radio" id="instrumental" name="musicGenre" value="Instrumental">
        <label for="instrumental">Instrumental</label><br>
        <input type="radio" id="electronic" name="musicGenre" value="Electronic">
        <label for="electronic">Electronic</label><br><br>



        <!-- Include similar fields for other tasks here... -->
        <input type="submit" value="Next">
    </form>

</body>
</html>
